.table {
  margin: 25px 0;
  font-size: 0.9em;
  direction: rtl;
  min-width: 400px;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.colMin {
  max-width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 5px;
}

.colMed {
  max-width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 5px;
}

.colBig {
  padding: 10px 5px;
  text-align: start;
  /* width: 100%; */
  flex: 1;
}

.header {
  font-size: 1.2em;
}

.input {
  background-color: transparent;
  border: none;
  border-radius: 6px;
  outline: transparent solid 2px;
  font-family: 'IRANSans';
  margin: 0px;
  color: white;
}

.input:hover {
  outline: #ffffff33 solid 2px;
  transition: background-color 0.3s ease-in-out;
}

.input:focus {
  outline: #ffffff66 solid 2px;
}

.input-new {
  composes: input;
  outline: #ffffff33 solid 1px;
}

.inputNew:hover {
  outline: #ffffff66 solid 2px;
}

.inputTime {
  composes: input;
  width: 30px;
  text-align: center;
  direction: ltr;
}

.inputDescription {
  composes: input;
  width: 100%;
  direction: rtl;
  resize: none;
}

.inputPleasure {
  composes: input;
  width: 30px;
  text-align: center;
  direction: ltr;
}

.printHelper {
  composes: input;
  display: none;
}

@media print {
  .table {
    margin: 25px 0;
    font-size: 0.8em;
    direction: rtl;
    min-width: 400px;
  }
  .input {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 6px;
    font-family: 'IRANSans';
    margin: 0px;
    color: black;
  }
  .inputDescription {
    display: none;
  }
  .printHelper {
    display: block;
    overflow: visible;
    white-space: pre;
    white-space: pre-wrap;
  }
}
